<section class="banner">
    <div class="container shadow">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <div class="banner-image-content">
                        <div class="single-image">
                            <img src="../../../assets/images/banner/824.jpg" alt="">
                        </div>
                        <div class="duo-image ml-3">
                            <div class="duo-image-content mb-3">
                                <img src="../../../assets/images/banner/banner.PNG" alt="image">
                            </div>
                            <div class="duo-image-content">
                                <img src="../../../assets/images/banner/1890.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>