<section class="category-product">
    <div class="container background-white shadow-lg">
        <div class="row">

            <div class="col-md-12 py-2">
                <div class="category-parent d-flex justify-content-between mr-2">

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/pakaian.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Pakaian Pria</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/elektronik.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Komputer & Laptop</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/lifestyle.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Gaya Hidup</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/fashion-wanita.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Fashion Wanita</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/makanan.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Makanan</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/kesehatan.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Kesehatan</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/rumah-tangga.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Rumah Tangga</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/pesta.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Peralatan Pesta</p>
                    </div>

                    <div class="category-items cursor-pointer">
                        <div class="d-flex justify-content-center">
                            <div class="category-wrapper border-radius-small">
                                <img src="../../../assets/images/category-image/semua.webp" alt="">
                            </div>
                        </div>
                        <p class="small-font-size normal-font-weight text-center">Kategori Lainnya</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>