<section class="form-profil">
  <div class="container">
    <div class="row">
      <div class="col-md-8 card shadow">
        <span class="mb-4 mt-2 label">DATA PRIBADI</span>
        <form>
          <p>
            <span class="label">Nama Lengkap </span><span class="note"> (wajib)</span>
            <mat-form-field appearance="outline" hintLabel="* Max 80 Karakter ">
              <input type="text" #input maxlength="80" placeholder="Nama Lengkap" pattern="[0-9A-Za-z ]+" matInput
                autocomplete="off" formControlName="namaLengkap">
              <mat-hint align="end"> {{input.value?.length || 0}}/80</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <span class="label">Email Login</span><span class="note"> (wajib)</span>
            <mat-form-field appearance="outline" hintLabel="* Max 80 Karakter ">
              <input type="text" #input2 maxlength="60" placeholder="Email Login" matInput autocomplete="off"
                formControlName="emailLogin">
              <mat-hint align="end"> {{input2.value?.length || 0}}/80</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <span class="label">Email Notifikasi</span><span class="note"> (wajib)</span>
            <mat-form-field appearance="outline" hintLabel="* Max 80 Karakter ">
              <input type="text" #input3 maxlength="60" placeholder="Email Notifikasi" matInput autocomplete="off"
                formControlName="emailNotifikasi">
              <mat-hint align="end"> {{input3.value?.length || 0}}/80</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <span class="label">No. Handphone</span><span class="note"> (wajib)</span>
            <mat-form-field appearance="outline" hintLabel="* Max 12 Karakter ">
              <input type="text" #input4 maxlength="12" placeholder="No. Handphone" matInput autocomplete="off"
                formControlName="noHandphone">
              <mat-hint align="end"> {{input4.value?.length || 0}}/12</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <button mat-raised-button class="btn-simpan">Simpan</button>
          </p>
        </form>
      </div>
      <div class="col-md-4 card shadow left">
        <div class="spacer"></div>
        <div class="row">
          <div class="col-md-12 box">
            <div class="img-wrapper">
              <div class="profile-circle shadow">
                <img src="../../../assets/images/banner/1890.jpg">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label class="custom-file-upload shadow">
              <input type="file" />
              Pilih Gambar
            </label>
          </div>
          <div class="col-md-12">
            <span>Ukuran Gambar: Maks 1MB</span>
          </div>
          <div class="col-md-12">
            <span>Format Gambar: PNG, JPEG</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
