<section class="mt-2">
  <div class="container box shadow">
    <div class="row mt-3">
      <div class="col-md-6 d-flex align-self-center">
        <mat-icon>shop</mat-icon>
        <span class="small mr-2">Username Toko</span>
        <span class="mr-2"> | </span>
        <mat-icon>chat</mat-icon>
        <span class="small">Chat Sekarang</span>
      </div>
      <div class="col-md-6 text-right align-self-center">
        <span class="red">Status</span>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-md-2 text-center">
        <div class="image-box">
          <img src="../../../assets/images/product/sample-product-3.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In nobis dolorum ipsum voluptates ducimus doloremque
          quo natus exercitationem illum corrupti voluptatem molestiae, eveniet explicabo maiores excepturi numquam quae
          ipsa adipisci.
        </span>
      </div>
      <div class="col-md-3 bold text-right">
        <span class="pr">Rp2.999.999</span>
      </div>
    </div>
    <hr class="light">
    <div class="row">
      <div class="col-md-9 text-right">
        <span class="bold">Jumlah Harus Dibayar :</span>
      </div>
      <div class="col-md-3 text-right">
        <span class="pr head">Rp2.999.999</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-right">
        <span class="grey">Bayar sebelum tanggal 10-03-2022 07:30</span>
      </div>
      <div class="col-md-12 text-right mt-3">
        <button mat-raised-button color="primary" class="mr-2 mb-2">
          <span>Bayar Sekarang</span>
        </button>
        <button mat-raised-button color="accent" class="mb-2"><span>
            Detail Pesanan
          </span></button>

      </div>
    </div>
  </div>
</section>
