<div class="daftar-pesanan-content container background-white shadow border-radius-small">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-content-center align-items-center">
                    <mat-icon>store</mat-icon>
                    <h5 class="normal-font-size medium-font-weight mt-2 ml-2">User Name Toko</h5>
                    <div class="vertical-line"></div>
                    <mat-icon class="primary-icon primary-text">question_answer</mat-icon>
                    <h5 class="normal-font-size medium-font-weight primary-text mt-2 ml-2">Chat Sekarang</h5>
                </div>
                <div class="nominal-tagihan">
                    <h5 class="normal-font-size mt-2 mr-3">Belum Bayar</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <div class="daftar-pesanan-content-detail-img">
                <img src="../../../../assets/images/product/sample-product-5.jpg" alt="">
            </div>
            <div class="detail-description ml-2">
                <h5 class="normal-font-size">
                    [KOMBO HEMAT] Redmi Note 9 Pro (6GB+64GB) 64MP Quad Kamera Snapdragon 720G 6.67`` FHD+GaransiResmi
                </h5>
            </div>
            <div class="detail-description-price align-self-end">
                <h5 class="normal-font-size">
                    Rp2.999.999
                </h5>
            </div>
        </div>
    </div>
    <hr class="light">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <h5 class="normal-font-size mr-2">Jumlah harus dibayar :</h5>
            <h5 class="medium-font-size medium-font-weight primary-text mr-3">
                Rp2.999.999
            </h5>
        </div>
    </div>
    <hr class="light">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h5 class="small-font-size gray-text">Bayar sebelum 23-08-2022 01:00 dengan Bank (Dicek Otomatis)</h5>
        </div>
        <div class="col-md-8 col-sm-12 d-flex align-content-center justify-content-center">
            <button mat-raised-button class="background-pink border-radius-small full-width white-text normal-font-size medium-font-weight mr-2">Bayar Sekarang</button>
            <button mat-raised-button class="background-gray border-radius-small full-width white-text normal-font-size medium-font-weight">Rincian Pesanan</button>
        </div>
    </div>
</div>
