@import '../../../styles.scss';
img {
    width: 100%;
    object-fit: cover;
    overflow: hidden !important;
}

mat-form-field {
    display: block;
    width: calc(100%);
    height: 50px;
}

mat-icon {
    color: $textLight;
}

div.form-login-card {
    border-radius: 5px;
    height: 100% !important;
    overflow: hidden !important;
}

h5.medium-gray-text {
    font-size: 13px;
    color: $textLight;
    cursor: pointer;
}

button.primary-button {
    height: 50px;
}

div.divider {
    width: 100%;
    border-bottom: 1px solid $textLight;
}

button.facebook-button {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: $blueColor;
    color: white;
}

button.google-button {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: $redColor;
    color: white;
}

button.apple-button {
    width: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: $textBlack;
    color: white;
}

input {
    color: $textBlack;
}
