<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 img-wrapper p-0">
                <img src="../../../assets/images/login-image.PNG" alt="" />
            </div>
            <div class="col-md-3 mt-5 login-box">
                <div class="row">
                    <div class="col-md-12 text-center mb-3">
                        <span class="login-title">LOGIN</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 mb-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 text-right mb-3">
                        <span class="lupa-password">Lupa Password</span>
                    </div>
                    <div class="col-md-12 text-center mb-3">
                        <button class="btn-masuk" routerLink="/beranda" mat-raised-button color="primary">Masuk</button>
                    </div>
                    <div class="col-md-12 mb-3 text-center">
                        <span class="belum-punya-akun">Belum punya akun?</span>
                        <span class="link-daftar"> Daftar disini</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>