<div class="container background-white border-radius-small shadow">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="d-flex align-content-center align-items-center">
                <input type="checkbox" class="input-check" name="" id="" />
                <span class="medium-font-size semi-bold-font-weight">User Name Toko</span>
            </div>
        </div>
        <hr class="line" />
    </div>
    <div class="row py-2 mb-2">
        <div class="col-md-5 keranjang-image">
            <input type="checkbox" class="input-check" />
            <div class="image">
                <img src="../../../assets/images/product/sample-product-4.jpg" alt="" />
            </div>
            <div class="medium-font-size">
                [KOMBO HEMAT] Redmi Note 9 Pro (6GB+64GB) 64MP Quad Kamera Snapdragon
                720G 6.67`` FHD+GaransiResmi
                <div class="mobile-display mb-3">
                    <div class="kuantitas medium-font-size mt-3 mb-3">
                        <div class="product-detail-count-content d-flex">
                            <button class="btn-count-decrease extra-large-font-size">
                                -
                            </button>
                            <input type="text" value="1" class="set-width" />
                            <button class="btn-count-increase extra-large-font-size">
                                +
                            </button>
                        </div>
                    </div>
                    <span class="harga-total medium-font-size primary-text semi-bold-font-weight mt-3">
                        Rp2.999.999
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mobile-display-col">
            <span class="harga-satuan medium-font-size mt-2 semi-bold-font-weight">
                Rp2.999.999
            </span>
        </div>
        <div class="col-md-2 mobile-display-col">
            <div class="product-detail-count-content d-flex align-items-center justify-content-start">
                <button class="btn-count-decrease extra-large-font-size">
                    -
                </button>
                <input type="text" value="1" class="set-width" />
                <button class="btn-count-increase extra-large-font-size">
                    +
                </button>
            </div>
        </div>
        <div class="col-md-2 mobile-display-col">
            <span class="harga-total medium-font-size primary-text semi-bold-font-weight mt-2">
                Rp2.999.999
            </span>
        </div>
        <div class="col-md-1 mobile-display-col">
            <span class="cursor-pointer medium-font-size">
                Hapus
            </span>
        </div>
    </div>
</div>