<div class="keranjang-item">
  <div class="row">
    <div class="col-md-12 box">
      <input type="checkbox" class="input-checkbox2">
      <span class="desc">UserName Toko</span>
    </div>
    <div class="col-md-12">
      <hr class="line">
    </div>
    <div class="col-md-7 normal-view">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 box">
          <input type="checkbox" class="input-checkbox2">
          <div class="image-box">
            <img src="../../../assets/images/product/sample-product-3.jpg" alt="">
          </div>
        </div>
        <div class="col-md-9 brand">
          <span class="harga">{{productBrand}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-1 normal-view">
      <span class="harga">Rp2000.000</span>
    </div>
    <div class="col-md-2 text-center normal-view">
      <div class="product-detail-count-content">
        <button class="btn-count-decrease ">-</button>
        <input type="text" value="1" class="set-width">
        <button class="btn-count-increase ">+</button>
      </div>
    </div>
    <div class="col-md-1 normal-view">
      <span class="total">Rp2000.000</span>
    </div>
    <div class="col-md-1 aksi-box text-center normal-view">
      <mat-icon class="aksi">delete</mat-icon>
    </div>

    <!-- view on tablet and mobile -->

    <div class="col-md-12 mobile-view">
      <div class="box">
        <input type="checkbox" class="input-checkbox2">
        <div class="image-box">
          <img src="../../../assets/images/product/sample-product-3.jpg" alt="">
        </div>
        <div class="pad">
          <span class="mobile-brand">{{productBrand}}</span>
          <div class="row">
            <div class="col-md-12">
              <hr class="line">
            </div>
            <div class="col-md-12 mobile-view mobile-view">
              <span class="total">Rp2000.000</span>
            </div>
            <div class="col-md-12 mobile-view mt-3">
              <div class="product-detail-count-content shadow">
                <button class="btn-count-decrease ">-</button>
                <input type="text" value="1" class="set-width">
                <button class="btn-count-increase ">+</button>
              </div>
            </div>
            <div class="col-md-12 mobile-view mt-4">
              <button mat-raised-button class="btn-hapus">
                <mat-icon>delete_forever</mat-icon>
                Hapus
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
