<app-header-toko></app-header-toko>
<section class="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-white shadow">
                <div class="profile-menu mt-4">
                    <ul class="unstyled-list">
                        <li *ngFor="let item of menuItems;let i=index" [routerLink]="[item.path]"
                            routerLinkActive="active" class="unstyled-list-item">
                            <a class="d-flex align-content-center align-items-center">
                                <mat-icon class="mr-2 icon white-text" [ngStyle]="{'background-color': item.color}">
                                    {{item.icon}}</mat-icon>
                                <div>
                                    <span>{{item.title}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9 content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>