<section class="fixed-header">
  <mat-toolbar class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bantuan">
          <mat-icon class="help-icon">help_outline</mat-icon>
          <span class="bantuan-text">Bantuan</span>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar>
    <div class="container">
      <div class="row">
        <div class="col-md-3 align-self-center">
          <div class="row">
            <div class="col-md-6" routerLink="/beranda">
              <span class="logo">MYWINSTORE</span>
            </div>
            <div class="col-md-6 text-center">
              <span class="kategori" [matMenuTriggerFor]="kategori">Kategori</span>
            </div>
            <mat-menu #kategori="matMenu">
              <button mat-menu-item>
                <span>Pakaian</span>
              </button>
              <button mat-menu-item>
                <span>Elektronik</span>
              </button>
              <button mat-menu-item>
                <span>Lifestyle</span>
              </button>
              <button mat-menu-item>
                <span>Makanan</span>
              </button>
              <button mat-menu-item>
                <span>Kesehatan</span>
              </button>
              <button mat-menu-item>
                <span>Otomotif</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="col-md-6 search-box">
          <div class="row">
            <div class="col-md-12">
              <mat-icon class="search-icon">search</mat-icon>
              <input type="text" matInput class="search-input" placeholder="Kamu lagi cari apa?">
              <button class="btn-cari" mat-raised-button color="primary">Cari</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 align-self-center text-center">
          <div class="row">
            <div class="col-md-6 notif-cart-wrapper">
              <div class="row">
                <div class="col-md-6 text-center">
                  <mat-icon class="notif-icon">notifications_none</mat-icon>
                  <div class="box-badges">
                    <div class="badges">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-center" routerLink="/keranjang-belanja">
                  <mat-icon class="cart-icon">shopping_cart</mat-icon>
                  <div class="box-badges">
                    <div class="badges">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 user">
              <div class="row">
                <div class="col-md-6" *ngIf="isLoggedin==false">
                  <button mat-raised-button class="btn-masuk" routerLink="/user">Masuk</button>
                </div>
                <div class="col-md-6 align-self-center" *ngIf="isLoggedin==true" routerLink="/user">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="avatar-img">
                        <img src="./assets/images/product/product-sample-1.jpg" alt="">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</section>

<section class="mobile-navigation shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-items-center">
        <div class="navigation-category">
          <div class="navigation-logo">
            <div [routerLink]="['/beranda']" class="logo mr-3">
              MYWINSTORE
            </div>
          </div>
          <div class="mt-1">
            <button (click)="openModal();" class="btn-search">
              <mat-icon matSuffix>search</mat-icon>
            </button>

          </div>
          <div class="mt-1">
            <button class="btn-shopping">
              <mat-icon matSuffix>notifications_none
              </mat-icon>
              <div class="box-badges">
                <div class="badges">
                </div>
              </div>
            </button>
          </div>
          <div class="mt-1">
            <button [routerLink]="['keranjang-belanja']" class="btn-keranjang">
              <mat-icon matSuffix>shopping_cart
              </mat-icon>
              <div class="box-badges">
                <div class="badges">
                </div>
              </div>
            </button>
          </div>
          <div class="ml-2" *ngIf="isLoggedin==false" routerLink="/user">
            <button class="btn-masuk" mat-raised-button>Masuk</button>
          </div>

          <div class="avatar-img ml-2" *ngIf="isLoggedin==true" routerLink="/user">
            <img src="./assets/images/product/product-sample-1.jpg" alt="">
          </div>



        </div>
      </div>

    </div>
  </div>


</section>

<!-- Modal -->
<div class="modal fade" id="modalPencarian" tabindex="-1" role="dialog" aria-labelledby="modalPencarianLabel"
  aria-hidden="true">
  <div class="modal-dialog relative" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="cursor-pointer" mat-raised-button (click)="closeModal()"
          style="position: absolute;width: 20px;height: 20px;right: 5px; top:2px;z-index: 999;cursor: pointer;">
          <mat-icon class="large-font-size">close</mat-icon>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="note">Ayo cari barang incaran mu sekarang</span>
          </div>
          <div class="col-md-12 searching-box">
            <div class="row">
              <div class="col-md-12">
                <mat-icon class="search-icon">search</mat-icon>
                <input type="text" matInput class="search-input" placeholder="Kamu lagi cari apa?">
                <button class="btn-cari" mat-raised-button color="primary">Cari</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
