<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="parent-profile-user">
          <div class="img-wrapper">
            <div class="profile-circle shadow">
              <img src="../../../assets/images/banner/1890.jpg">
              <button class="shadow text-white">
                <mat-icon matSuffix>delete_outline</mat-icon>
              </button>
            </div>
          </div>
          <div class="profile-name mt-4 text-center">
            <div class="normal text-center">User Name</div>
            <div class="normal text-center mb-2">Member</div>
          </div>
          <div class="profile-menu">
            <ul class="unstyled-list">
              <li *ngFor="let item of menuItems;let i=index" [routerLink]="[item.path]" routerLinkActive="active"
                class="unstyled-list-item">
                <mat-icon class="mr-2 icon" [ngStyle]="{'background-color': item.color}">
                  {{item.icon}}</mat-icon>
                <span class="normal">{{item.title}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9 content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
