@import "../../../../styles.scss";
.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $textWhite;
  border-radius: 10px !important;
}

button {
  border-radius: 10px;
  background-color: $greenColor !important;
  color: white !important;
}

.user-name {
  font-size: $mediumFont;
  font-weight: 500;
}
