@import "../../../../styles.scss";
div.panel {
  background-color: $textWhite;
}

div.panel-profile.panel {
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 0.8125rem;
}

div.pilih-foto {
  border-left: 5px solid #f9fafc;
}

.form-text {
  text-align: start;
  font-size: 0.8125rem;
  width: 60px;
  border: none;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.mat-select {
  background-color: $textWhite;
  color: $textBlack;
  padding-left: 15px;
  font-family: $fontFamily;
  font-size: 14px;
  border: none;
}

.mat-label {
  color: black;
}

div.button-actions {
  display: flex;
  justify-content: space-between;
}

hr.line {
  border: 1px solid $g_light;
}

@media only screen and(max-width:768px) {
  span {
    font-size: 9px;
  }
  label {
    font-size: 12px !important;
  }
  div.button-actions {
    display: block;
  }
  button.btn-pink {
    margin-bottom: 10px !important;
  }
  div.pilih-foto {
    border-left: none;
    margin-top: 10px;
  }
  div.profile-circle-2 {
    width: 30px;
    height: 30px;
    background-color: $textWhite;
    border-radius: 50%;
  }
  div.profile-circle-2 img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  span.medium-gray-text-user-mobile {
    display: none;
  }
}

div.profile-circle img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

div.profile-circle-2 {
  // margin-left: 15px;
  width: 30px;
  height: 30px;
  background-color: $textWhite;
  border-radius: 50%;
}

div.profile-circle-2 img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
