<div class="card-product shadow" [routerLink]="['/detail-product']">
    <div class="card-product-image">
        <img src="../../../assets/images/product/sample-product-5.jpg" alt="">
    </div>
    <div class="card-content">
        <div class="card-product-brand py-2">
            <span>LG pen stylus 4/64GB
                FHD+...Camera 64MP</span>
        </div>
        <div class="card-product-discount">
            Rp4.500.000
        </div>
        <div class="card-product-price">
            Rp2.999.999
        </div>
        <div class="card-product-location">
            <mat-icon matSuffix class="gray-text">location_on</mat-icon>
            Jambi
        </div>
        <div class="product-sales-count">
            <div class="product-rating">
                <mat-icon matSuffix>star</mat-icon>
                4.9
            </div>
            Terjual 9
        </div>
    </div>
</div>