<section class="rekomendasi">
    <div class="container shadow mt-2">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 rekomendasi-wrapper">
                <div class="rekomendasi-title ">
                    <span>REKOMENDASI</span>
                </div>
                <div class="rekomendasi-title-others">
                    <div class="see-more-button" [routerLink]="[ '/shop'] ">
                        Lihat Semua
                    </div>
                    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-6 p-1" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
            <app-card-product></app-card-product>
        </div>
    </div>
</div>