<section class="rekomendasi">
    <div class="container shadow mt-2 background-white border-radius-small">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between align-content-center">
                <div class=" rekomendasi-title ">
                    <h5 class="large-font-size medium-font-weight mt-3 ">REKOMENDASI</h5>
                </div>
                <div class="rekomendasi-title-others d-flex align-content-center align-items-center ">
                    <div class="see-more-button cursor-pointer primary-text " [routerLink]="[ '/shop'] ">
                        Lihat Semua
                    </div>
                    <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>
<app-card-product></app-card-product>
