<section class="form-toko">
    <div class="container">
        <div class="row">
            <div class="col-md-12 card shadow py-2">
                <span class="mb-4 mt-2 label">DATA TOKO</span>
                <form>
                    <p>
                        <span class="label">Logo Toko </span><span class="note"> (wajib)</span>
                    </p>
                    <p>
                        <input type="file">
                    </p>

                    <p>
                        <span class="label">Nama Toko </span><span class="note"> (Nama toko tidak dapat di ubah
                            kembali,pastikan nama
                            sudah benar)</span>
                        <mat-form-field appearance="outline" hintLabel="* Min 5 | Max 80 Karakter ">

                            <input type="text" #input maxlength="60" minlength="5" placeholder="Nama Toko"
                                pattern="[0-9A-Za-z ]+" matInput autocomplete="off" formControlName="namaToko">
                            <mat-hint align="end"> {{input.value?.length || 0}}/60</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <span class="label">Alamat</span> <span class="note"> (wajib)</span>
                        <mat-form-field appearance="outline" hintLabel="* Max 120 Karakter">

                            <input type="text" #input2 maxlength="120" placeholder="Alamat Toko" matInput
                                autocomplete="off" formControlName="alamatToko">
                            <mat-hint align="end"> {{input2.value?.length || 0}}/120</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <span class="label">Provinsi</span> <span class="note"> (wajib)</span>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Hari" matInput name="hari" id="hari">
                                <mat-option value="Hari" selected>Hari</mat-option>
                                <mat-option value="1">1</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </p>
                    <p>
                        <span class="label">Kota</span> <span class="note"> (wajib)</span>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Hari" matInput name="hari" id="hari">
                                <mat-option value="Hari" selected>Hari</mat-option>
                                <mat-option value="1">1</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </p>
                    <p>
                        <span class="label">Kode Pos</span> <span class="note"> (wajib)</span>
                        <mat-form-field appearance="outline">

                            <input type="text" #input2 maxlength="120" placeholder="Kode Pos" matInput
                                autocomplete="off" formControlName="kodePos">
                        </mat-form-field>
                    </p>
                    <p class="text-left">
                        <button class="simpan" mat-raised-button type="button">Simpan</button>
                        <button class="kembali" mat-raised-button type="button" (click)="back()">Kembali</button>
                    </p>

                </form>
            </div>
        </div>
    </div>
</section>