<section class="detail-product">
  <div class="container shadow ">
    <div class="row">
      <div class="col-md-12 head">
        <span>Home</span>
        <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
        <span>Handphone</span>
        <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
        <span class="product-name">{{productBrand}}</span>

      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="product-cover-image ">
              <img src="../../../assets/images/product/sample-product-6.jpg" class="" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="product-detail-image mt-3">
              <div class="product-detail-image-content">
                <div class="preview">
                </div>
                <div class="btn-preview text-center">
                  <div>
                    <mat-icon>remove_red_eye</mat-icon>
                  </div>
                  <span>Lihat</span>
                </div>
                <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
              </div>
              <div class="product-detail-image-content">
                <div class="preview">
                </div>
                <div class="btn-preview text-center">
                  <div>
                    <mat-icon>remove_red_eye</mat-icon>
                  </div>
                  <span>Lihat</span>
                </div>
                <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
              </div>
              <div class="product-detail-image-content">
                <div class="preview">
                </div>
                <div class="btn-preview text-center">
                  <div>
                    <mat-icon>remove_red_eye</mat-icon>
                  </div>
                  <span>Lihat</span>
                </div>
                <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
              </div>
              <div class="product-detail-image-content">
                <div class="preview">
                </div>
                <div class="btn-preview text-center">
                  <div>
                    <mat-icon>remove_red_eye</mat-icon>
                  </div>
                  <span>Lihat</span>
                </div>
                <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
              </div>
              <div class="product-detail-image-content">
                <div class="preview">
                </div>
                <div class="btn-preview text-center">
                  <div>
                    <mat-icon>remove_red_eye</mat-icon>
                  </div>
                  <span>Lihat</span>
                </div>
                <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 align-items-center">
            <div class="product-detail-image-caption">
              <div class="caption-items">
                <mat-icon class="mt-1 mb-2" matSuffix>history</mat-icon>
                <div class="mt-1 mb-2">7 Hari Pengembalian</div>
              </div>
              <div class="caption-items">
                <mat-icon class=" mt-1 mb-2" matSuffix>verified_user</mat-icon>
                <div class="mt-1 mb-2">100% Original</div>
              </div>
              <div class="caption-items">
                <mat-icon class=" mt-1 mb-2" matSuffix>local_shipping</mat-icon>
                <div class="mt-1 mb-2">Gratis Ongkir</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <span class="product-brand">{{productBrand}}</span>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-3">
            <span class="desc">Harga</span>
          </div>
          <div class="col-md-9">
            <span class="price">Rp2.999.999</span>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-3 variasi">
            <span class="desc">Warna</span>
          </div>
          <div class="col-md-9">
            <mat-select placeholder="Pilih warna">
              <mat-option value="merah">Merah</mat-option>
              <mat-option value="hijau">Hijau</mat-option>
              <mat-option value="biru">Biru</mat-option>
            </mat-select>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-3 variasi">
            <span class="desc">Variasi</span>
          </div>
          <div class="col-md-9">
            <mat-select placeholder="Pilih variasi">
              <mat-option value="">3/32GB</mat-option>
              <mat-option value="">4/64GB</mat-option>
            </mat-select>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-12">
            <span class="desc">Kirim ke</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="desc mr-4">Lokasi Anda</span>
            <span class="link normal">Ganti Lokasi</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="normal">{{alamat}}</span>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-3">
            <span class="desc">Jumlah</span>
          </div>
          <div class="col-md-9">
            <div class="product-detail-count-content d-flex">
              <button class="btn-count-decrease ">-</button>
              <input type="text" value="1" class="set-width">
              <button class="btn-count-increase ">+</button>
            </div>
          </div>
        </div>
        <hr class="light">
        <div class="row">
          <div class="col-md-6">
            <button class="btn-add-cart" mat-raised-button>
              <mat-icon matSuffix>add_shopping_cart</mat-icon> Tambah ke
              Keranjang
            </button>
          </div>
          <div class="col-md-6">
            <button class="btn-buy-now" mat-raised-button>Beli
              Sekarang</button>
          </div>
        </div>
        <hr class="light">
        <div class="row wishlist-box">
          <div class="col-md-6">
            <div class="wishlist">
              <mat-icon matSuffix>favorite</mat-icon>
              <span> Tambah ke Wishlist</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="share">
              Share
              <button class="btn-facebook ml-2 mr-2">
                <img src="../../../assets/images/facebook-logo.png" alt="">
              </button>
              <button class="btn-twitter mr-1">
                <img src="../../../assets/images/twitter.png" alt="">
              </button>
              <button class="btn-mail">
                <img src="../../../assets/images/pink-mail.png" alt="">
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="row">
                <div class="col-md-12 profile-image-box">
                  <div class="profile-image">
                    <img src="./assets/images/banner/1890.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <span class="desc">User Name</span>
                </div>
                <div class="col-md-12 text-center">
                  <span class="last-seen">Aktif 5 menit yang lalu</span>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-6">
                  <button mat-raised-button>Chat Penjual</button>
                </div>
                <div class="col-6">
                  <button mat-raised-button>Lihat Toko</button>
                </div>
              </div>
              <hr class="light">

              <div class="row mt-2">
                <div class="col-md-12 detail-toko">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="desc">Penilaian</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <span>
                        <mat-icon class="normal">star</mat-icon>
                      </span>
                      <span class="normal">4.9</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 detail-toko">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="desc">Produk</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <span class="normal">4124</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 detail-toko">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="desc">Bergabung</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <span class="normal">17 Bulan lalu</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="note">
          <p class="normal">
            Estimasi Biaya pengiriman belum termasuk tambahan dari kawasan perdagangan bebas RI/atau
            penanganan spesial lainnya.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="spesifikasi-diskusi-ulasan mt-2">
  <div class="container shadow ">
    <div class="row">
      <div class="col-md-12 box">
        <div class="header">
          <span class="desc">Spesifikasi Produk</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Merek</span>
      </div>
      <div class="col-9">
        <span class="normal">Handphone</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Model</span>
      </div>
      <div class="col-9">
        <span class="normal">Selular</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Kapasitas</span>
      </div>
      <div class="col-9">
        <span class="normal">6/128</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Tipe Garansi</span>
      </div>
      <div class="col-9">
        <span class="normal">Resmi</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Periode Garansi</span>
      </div>
      <div class="col-9">
        <span class="normal">1 Tahun</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="desc">Ukuran Layar</span>
      </div>
      <div class="col-9">
        <span class="normal">6.5 Inch</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 box">
        <div class="header">
          <span class="desc">Deskripsi Produk</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <span class="normal">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis tenetur dolorem iure quibusdam aliquid?
          Saepe odit magnam sint natus qui ullam quia, tempore harum quae, excepturi eos. Obcaecati, consectetur cum.
        </span>
      </div>
    </div>
  </div>
</section>
<app-product-rekomendasi></app-product-rekomendasi>
