<section class="detail-product">
    <div class="container shadow border-radius-small">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 head">
                <div class="breadcumb-title d-flex align-content-center align-items-center">
                    <h5 class="medium-font-size  mt-3">Home</h5>
                    <mat-icon class="medium-font-size mt-4 ml-1" matSuffix>keyboard_arrow_right</mat-icon>
                    <h5 class="medium-font-size  mt-3">Handphone</h5>
                    <mat-icon class="medium-font-size mt-4 ml-1" matSuffix>keyboard_arrow_right</mat-icon>
                    <h5 class="medium-font-size  elipsis-text-style mt-3">[KOMBO HEMAT] Redmi Note 9 Pro (6GB+64GB) 64MP Quad Kamera Snapdragon 720G 6.67`` FHD+GaransiResmi</h5>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="product-cover-image border-radius-small">
                    <img src="../../../assets/images/product/sample-product-6.jpg" class="border-radius-small" alt="">
                </div>
                <div class="product-detail-image mt-3">
                    <div class="product-detail-image-content">
                        <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
                    </div>
                    <div class="product-detail-image-content">
                        <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
                    </div>
                    <div class="product-detail-image-content">
                        <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
                    </div>
                    <div class="product-detail-image-content">
                        <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
                    </div>
                    <div class="product-detail-image-content">
                        <img src="../../../assets/images/product/sample-product-6.jpg" alt="">
                    </div>
                </div>
                <div class="product-detail-image-caption">
                    <div class="caption-items">
                        <mat-icon class="small-font-size mt-1 mb-2" matSuffix>history</mat-icon>
                        <div class="small-font-size elipsis-text-style mt-1 mb-2">7 Hari Pengembalian</div>
                    </div>
                    <div class="caption-items">
                        <mat-icon class="small-font-size mt-1 mb-2" matSuffix>verified_user</mat-icon>
                        <div class="small-font-size elipsis-text-style mt-1 mb-2">100% Original</div>
                    </div>
                    <div class="caption-items">
                        <mat-icon class="small-font-size mt-1 mb-2" matSuffix>local_shipping</mat-icon>
                        <div class="small-font-size elipsis-text-style mt-1 mb-2">Gratis Ongkir</div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="product-detail-desc">
                    <h5 class="medium-font-size ">[KOMBO HEMAT] Redmi Note 9 Pro (6GB+64GB) 64MP Quad Kamera Snapdragon 720G 6.67`` FHD+GaransiResmi</h5>
                </div>
                <hr class="light">
                <div class="product-detail-price d-flex justify-content-start">
                    <div>
                        <h5 class="medium-font-size ">Harga</h5>
                    </div>
                    <span class="price medium-font-size medium-font-weight ml-5">Rp2.999.999</span>
                </div>
                <hr class="light">
                <div class="product-detail-color d-flex justify-content-start">
                    <div>
                        <h5 class="medium-font-size ">Warna</h5>
                    </div>
                    <span class="color-option ml-5">
                    <div class="color-option-items" style="background-color: #0055cb;"></div>
                    <div class="color-option-items" style="background-color: #10CD28;"></div>
                    <div class="color-option-items" style="background-color: #FF4051;"></div>
                  </span>
                </div>
                <div class="product-detail-size d-flex justify-content-start">
                    <div>
                        <h5 class="medium-font-size mt-2">Ukuran</h5>
                    </div>
                    <span class="size-option ml-5 mt-2 d-flex justify-content-between">
                    <div class="size-option-items mr-2 active">S</div>
                    <div class="size-option-items mr-2">M</div>
                    <div class="size-option-items mr-2">L</div>
                    <div class="size-option-items mr-2">XL</div>
                  </span>
                </div>
                <hr class="light">
                <div class="product-detail-kirim">
                    <div>
                        <h5 class="medium-font-size mt-2">Kirim ke</h5>
                    </div>
                    <span class="product-detail-kirim-alamat-caption d-flex justify-content-start">
                    <h5 class="medium-font-size mr-3">Lokasi Anda</h5>
                    <div class="medium-font-size primary-text">Ganti lokasi</div>
                  </span>
                    <div class="product-detail-kirim-alamat medium-font-size medium-font-weight ">
                        DKI Jakarta, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta, Indonesia
                    </div>
                    <hr class="light">
                    <div class="product-detail-count d-flex justify-content-start">
                        <div>
                            <h5 class="medium-font-size mt-2 mr-5">Jumlah</h5>
                        </div>
                        <div class="product-detail-count-content d-flex">
                            <button class="btn-count-decrease extra-large-font-size">-</button>
                            <input type="text" value="1" class="set-width">
                            <button class="btn-count-increase extra-large-font-size">+</button>
                        </div>
                    </div>
                    <div class="product-detail-actions mt-2 d-flex justify-content-start">
                        <button class="btn-add-cart medium-font-size border-radius-small" mat-raised-button> <mat-icon class="medium-font-size" matSuffix>add_shopping_cart</mat-icon>  Tambah ke Keranjang</button>
                        <button class="btn-buy-now medium-font-size border-radius-small" mat-raised-button>Beli Sekarang</button>
                    </div>
                    <hr class="light">
                    <div class="product-detail-wishlist-share mb-3 d-flex justify-content-between align-items-center">
                        <div>
                            <div class="btn-add-wishlist medium-font-size d-flex align-content-center align-items-center">
                                <mat-icon class="extra-large-font-size" matSuffix>favorite_border</mat-icon> Tambah ke Wishlist</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center medium-font-size">
                            Share
                            <button class="btn-facebook ml-2 mr-2">
                            <img src="../../../assets/images/facebook-logo.png" alt="">
                          </button>
                            <button class="btn-twitter mr-1">
                            <img src="../../../assets/images/twitter.png" alt="">
                          </button>
                            <button class="btn-mail">
                            <img src="../../../assets/images/pink-mail.png" alt="">
                          </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-toko-card card border-radius-small">
                    <div class="profile-circle d-flex justify-content-center">
                        <img src="../../../assets/images/banner/1890.jpg" alt="">
                    </div>
                    <div class="profile-name ml-auto mr-auto mt-2">
                        <h5 class="medium-font-size text-center">User Name</h5>
                        <h5 class="medium-font-size">Aktif 5 Menit Lalu</h5>
                    </div>
                    <div class="profile-toko-action d-flex justify-content-between medium-font-size ">
                        <button class="medium-font-size border-radius-small background-white" mat-raised-button>Chat Sekarang</button>
                        <button class="medium-font-size border-radius-small background-white" mat-raised-button>Kunjungi Toko</button>
                    </div>
                    <div class="profile-toko-detail">
                        <div class="d-flex justify-content-between align-self-center">
                            <h5 class="medium-font-size mt-3">Penilaian</h5>
                            <span class="rating d-flex justify-content-between align-items-center align-content-center">
                              <mat-icon class="medium-font-size" matSuffix >star</mat-icon>
                              <span>4.9</span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-self-center">
                            <h5 class="medium-font-size mt-1">Produk</h5>
                            <span class="rating d-flex justify-content-between align-items-start align-content-center medium-font-size">
                              <span>4.700</span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-self-center">
                            <h5 class="medium-font-size mt-1">Bergabung</h5>
                            <span class="rating d-flex justify-content-between align-items-start align-content-center">
                              <span>18 Bulan lalu</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="note">
                    <p class="text-p-note medium-font-size">
                        Estimasi Biaya pengiriman belum termasuk tambahan dari kawasan perdagangan bebas RI/atau penanganan spesial lainnya.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="spesifikasi-diskusi-ulasan">
    <div class="container shadow border-radius-small">
        <div class="row py-2">
            <div class="col-md-12">
                <div class="breadcumb-title d-flex align-content-center align-items-center header-with-border border-radius-small">
                    <h5 class="medium-font-size mt-3 mb-3 ml-1">Spesifikasi Produk</h5>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-12">
                <div class="spesifikasi-content ml-1">
                    <table width="300px">
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Merek</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">Handphone</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Model</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">Selular</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Kapasitas</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">6/128GB</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Tipe Garansi</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">GaransiResmi</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Periode Garansi</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">1 Tahun</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="medium-font-size mt-2">Ukuran Layar</h5>
                            </td>
                            <td>
                                <h5 class="medium-font-size mt-2">6.5 Inch</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-12">
                <div class="breadcumb-title d-flex align-content-center align-items-center header-with-border border-radius-small">
                    <h5 class="medium-font-size mt-3 mb-3 ml-1">Deskripsi Produk</h5>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-12">
                <h5 class="medium-font-size mt-2 ml-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores totam deleniti optio veritatis in. Magnam praesentium ut voluptatum ullam, ea, vero libero expedita numquam sequi at harum nobis odio aspernatur. Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Debitis minima doloremque facilis, deleniti, explicabo consequuntur assumenda illo accusantium veritatis quaerat exercitationem pariatur iusto quis aperiam molestiae autem necessitatibus sunt itaque!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, officiis inventore qui vero placeat doloremque voluptate aliquam harum nostrum quisquam vitae minima ipsa laborum laboriosam voluptatum veniam, exercitationem
                    recusandae ducimus!
                </h5>
            </div>
        </div>
    </div>
</section>
<app-product-rekomendasi></app-product-rekomendasi>